service:
  type: ClusterIP

auth:
  adminUser: admin

extraEnvVars:
  - name: KEYCLOAK_EXTRA_ARGS
    value: "-Dkeycloak.profile.feature.upload_scripts=enabled"

ingress:
  enabled: false

proxyAddressForwarding: true

replicaCount: 1

serviceDiscovery:
  enabled: true

resources:
  limits: {}
  requests:
    cpu: 200m
    memory: 1000Mi

rbac:
  create: true
  rules:
  - apiGroups:
    - ""
    resources:
    - pods
    verbs:
    - get
    - list 